:root {
    --sdg-border-color: #DADADA;
    --sdg-background-color: #F8F8F8;
    --sdg-text-color: #808080;
    --sdg-font-family: Arial, Helvetica, sans-serif;
    --sdg-border-style: solid;
    --sdg-border-size: 1px;
}

.sdg-table {
    border-collapse: collapse;
    font-family: var(--sdg-font-family);
    table-layout: fixed;
    width: 100%;
}

.sdg-head {
    color: var(--sdg-text-color);
    background-color: var(--sdg-background-color);
    font-size: 15px;
}

thead.sdg-head th {
    border: var(--sdg-border-size);
    border-color: var(--sdg-border-color);
    border-style: var(--sdg-border-style);
    padding: 5px 20px 5px 20px;
    font-weight: 400;
}

.sdg-body {
    font-size: 14px;
}

tbody.sdg-body td {
    padding: 15px;
    border: var(--sdg-border-size);
    border-color: var(--sdg-border-color);
    border-style: var(--sdg-border-style);
}

tbody.sdg-body tr:hover {
    background-color: var(--sdg-border-color);
}

.sdg-foot {
    background-color: var(--sdg-background-color);
    font-size: 13px;
    font-weight: 500;
}

tfoot.sdg-foot td {
    border: var(--sdg-border-size);
    border-color: var(--sdg-border-color);
    border-style: var(--sdg-border-style);
}

.sdg-pagination {
    display: inline;
}

.sdg-pagination select {
    float: left;
    height: 31px;
    width: 31px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align-last: center;
}

.sdg-pagination select::-ms-expand {
    display: none;
}

.sdg-pagination a {
    border: var(--sdg-border-size);
    border-color: var(--sdg-border-color);
    border-style: var(--sdg-border-style);
    color: var(--sdg-text-color);
    float: left;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.sdg-pagination a:hover:not(.active) {
    background-color: var(--sdg-border-color);
}

.sdg-pagination-disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}